@using RikaWebApp.Models.AuthModels;
@using RikaWebApp.ViewModels

@model BasicLoggedInUser;

@{
    ViewData["Title"] = "Rika";
}

<header class="container header-content"  >
<div class="nav-btn">
        <a class="auth-nav" asp-action="SignUpView" asp-controller="SignUp">Sign Up</a>

        <a class="auth-nav" asp-action="SignInView" asp-controller="SignIn">Sign in</a>

       

</div>

<a class="profile-image"  asp-action="Index" asp-controller="Onboarding">
    <img src="https://storagerika.blob.core.windows.net/files/user.png" alt="onboarding">

</a>



@if (TempData["LogOut"] != null)
{
    <div>
        <p><strong>@TempData["LogOut"]</strong></p>
    </div>
}




@if(Model != null)
{
    <div>
        <p><strong>Id:</strong> @Model.Id</p>
        <p><strong>First Name:</strong> @Model.FirstName</p>
        <p><strong>Last Name:</strong> @Model.LastName</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Image URL:</strong> <img src="~/images/auth/@Model.ImageUrl" style="max-width:100px; max-height:100px;" /></p>
        <p><strong>Address:</strong> @Model.Address</p>
        <p><strong>Postal Code:</strong> @Model.PostalCode</p>
        <p><strong>Country:</strong> @Model.Country</p>
        <p><strong>City:</strong> @Model.City</p>
    </div>

    <a asp-action="LogOut" asp-controller="SignOut">Logout</a>
}

</header>

   


@await Html.PartialAsync("~/Views/Shared/Partials/MinePage/_CategoriesPartial.cshtml")
