@model RikaWebApp.ViewModels.ReviewViewModel

<div class="add-review-form mt-4">
    
    <div class="back-icon">
        <a asp-controller="Reviews" asp-action="Index" asp-route-categoryName="@ViewData["CategoryName"]" asp-route-productId="@ViewData["ProductId"]">
            <i class="fa-regular fa-arrow-left"></i>
        </a>
    </div>
    
    <h4>Lägg till en recension</h4>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

    <form asp-action="AddReview" asp-controller="Reviews" asp-route-categoryName="@ViewData["CategoryName"]" asp-route-productId="@ViewData["ProductId"]" method="post">
        <input type="hidden" name="categoryName" value="@ViewData["CategoryName"]" />
        <input type="hidden" name="productId" value="@ViewData["ProductId"]" />
        <div class="form-group">
            <label for="ClientName">Ditt Namn</label>
            <input type="text" class="form-control" id="ClientName" name="ClientName" required />
        </div>
        <div class="form-group">
            <label for="Rating">Betyg (1-5)</label>
            <select class="form-control" id="Rating" name="Rating" required>
                <option value="">Välj ett betyg</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Comment">Kommentar</label>
            <textarea class="form-control" id="Comment" name="Comment" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Skicka Recension</button>
    </form>
</div>
